In [1]:
#Write a program to enter names of employees and their salaries as input and store them in a dictionary.
emp = {}

n = int(input("Enter number of employees: "))

for i in range(n):
    name = input("Enter employee name: ")
    salary = float(input("Enter salary: "))
    emp[name] = salary

print("Employee Details:")
print(emp)

Enter number of employees:  5
Enter employee name:  anil
Enter salary:  500000
Enter employee name:  sumit
Enter salary:  47000
Enter employee name:  rajiv
Enter salary:  100000
Enter employee name:  Debarchan
Enter salary:  100000000
Enter employee name:  Sarthak
Enter salary:  15000

Employee Details:
{'anil': 500000.0, 'sumit': 47000.0, 'rajiv': 100000.0, 'Debarchan': 100000000.0, 'Sarthak': 15000.0}

In [5]:
#Write a program to count the number of times a character appears in a given string
stri = input("enter the string")
char = input("enter the character needs to be count")
count =0
for i in stri:
    if i == char:
        count+=1
print("No of times the character occured",count)

enter the string Mimansha
enter the character needs to be count a

No of times the character occured 2

In [15]:
#Write a function to convert a number entered by the user into its corresponding number in words.
def number_to_words(num):
    digits = {
        '0': "Zero",
        '1': "One",
        '2': "Two",
        '3': "Three",
        '4': "Four",
        '5': "Five",
        '6': "Six",
        '7': "Seven",
        '8': "Eight",
        '9': "Nine"
    }

    result = ""
    for d in num:
        result += digits[d] + " "

    return result.strip()
number_to_words(str(785))

'Seven Eight Five'

In [ ]:
#